.DS_Store
packages
.packages
.project
.pub/
build/
pubspec.lock

# Don't track config files.
tools/usermon/lib/config.dart
bin/bob_configuration.json
bin/mailer_conf.py
bin/mailer_conf.pyc
*mailer_conf.py
*config.json
lib/configuration.dart

# Don't track out/
out/

# Do not track emacs temporary and backup files
\#*#
*~

# Do not track Nano temporary files
.#*#

# Output from /tools/start:
/.errors
/.output

# Don't track compiled python code.
MessageDispatcher/bin/mailer_conf.pyc

# Local makefile configuration.
makefile.setup

# DartEditor settings
.settings

# Local TODO
TODO
