#contact-page {
  height: 100%;
}

#contact-page ul {
  list-style-type: none;
}

/**
  Left side panel.
*/
#contact-listing {
  float: left;
  width: 20%;
  height: 100%;
  padding: 0 5px;
}

#contact-create {
  width: 100%;
  width: -moz-calc(100% -   2px);
  width: -webkit-calc(100% -   2px);
  margin: 5px 1px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 2px;
}

#contact-search-box {
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
}

#contact-list {
  height: 100%;
  height: -moz-calc(100% -   68px);
  height: -webkit-calc(100% -   68px);
  overflow: auto;
  border: 1px solid grey;
  border-radius: 2px;
}

#contact-list>li {
  padding: 5px 8px;
}

.content-list>li>span {
  padding-left: 5px;
}

/**
  Content panel.
*/
#contact-content {
  float: left;
  width: 60%;
  width: -moz-calc(60% -   5px);
  width: -webkit-calc(60% -   5px);
  height: 100%;
  height: -moz-calc(100% -   10px);
  height: -webkit-calc(100% -   10px);
  border: solid 2px grey;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  overflow: auto;
}

#contact-base-info {
  border: solid 1px black;
  border-radius: 4px;
  padding: 2px;
  box-shadow: 0 0 5px #888;
}

.contact-reception {
  border: 2px solid grey;
  margin-top: 10px;
  box-shadow: 0 0 5px #888;
}

.reception-contact-header {
  font-size: larger;
}

#contact-reception-selector {
  width: 400px;
  padding: 5px 0;
  display: inline-block;
}

#contact-save,#contact-delete,#contact-add {
  width: 50px;
}

/**
  Right side panel.
*/
#contact-rightbar {
  float: right;
  width: 20%;
  width: -moz-calc(20% -   10px);
  width: -webkit-calc(20% -   10px);
  height: 100%;
  padding: 5px 10px 5px 0px;
}

#contact-rightbar>div {
  height: 50%;
}

#contact-rightbar>div+div {
  height: 50%;
  padding-top: 15px;
}

#contact-rightbar>div>div {
  height: 100%;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 5px;
}

#contact-organization-list li,#contact-reception-list li {
  margin-left: 10px;
}