#dialplan-page {
  height: 100%;
}

/**
 * Left panel
 */

#dialplan-leftbar {
  height: 100%;
  float: left;
  width: 20%;
  margin: 0 5px;
}

#dialplan-mainbar {
  height: 60%;
  height: -moz-calc(10% - 5px);
  height: -webkit-calc(10% - 5px);
  padding: 5px;
  border: solid 2px grey;
  border-radius: 10px;
  margin-bottom: 10px;
}

#dialplan-receptionbar {
  min-width: 300px;
}

#dialplan-savebutton {
  margin: 5px 5px 5px 0;
  padding: 2px 10px;
}

#dialplan-controlbar {
  height: 80%;
  height: -moz-calc(90% - 5px);
  height: -webkit-calc(90% - 5px);
  border: solid 2px grey;
  border-radius: 10px;
  margin-top: 10px;
}

#dialplan-controlbar-condition {
  height: 30%;
  height: -moz-calc(35% - 10px);
  height: -webkit-calc(35% - 10px);
  border: solid 2px grey;
  border-radius: 10px;
  margin-top: 10px;
  overflow: auto;
}

#dialplan-controlbar-action {
  height: 40%;
  height: -moz-calc(55% - 5px);
  height: -webkit-calc(55% - 5px);
  border: solid 2px grey;
  border-radius: 10px;
  margin-top: 10px;
  overflow: auto;
}

#dialplan-controlbar-condition h4, #dialplan-controlbar-action h4 {
  padding: 5px 0 5px 5px;
  background-color: lightgrey;
  border-radius: 8px 8px 0 0;
}

#dialplan-control-condition-list, #dialplan-control-action-list {
  padding: 5px;
  list-style-type: none;
  text-align:center;
  margin: 0 auto;
  overflow: auto;
}

#dialplan-control-condition-list li, #dialplan-control-action-list li {
  padding: 5px;
}

ul#dialplan-control-list li {
  padding: 5px;
}

img.dialplan-controlitem-img {
  width: 48px;
  height: 48px;
}

.dialplan-controlitem-nametag {
  display: block;
}

/**
 * MIDDEL PANEL
 */

#dialplan-contentbar {
  height: 100%;
  float: left;
  width: 40%;
  margin: 0 5px;
  border: solid 2px grey;
  border-radius: 10px;
  overflow: auto;
}

#dialplan-selected-extensionname {
  padding: 3px 0;
  display: block;
  width: 100%;
  text-align: center;
  font-size: larger;
}

#dialplan-items-table {
  width: 100%;
}

#dialplan-items-table tr:not(:first-child) td {
  border-top: 1px solid black;
}

/* Table Cells */
td.dialplan-item-image {
  width: 100px;
  text-align: center;

  padding-top:10px;
  padding-bottom:10px;
}

td.dialplan-item-image > * {
  margin: auto;
  display: block;
}

td.dialplan-item-description > textarea {
  width: 100%;
  height: 100%;
  background-color: inherit;
  border: none;

  outline: none;
  resize: none;
}

td.dialplan-item-remove {
  margin: auto;
  text-align: center;
}

#dialplan-controls {
  list-style-type: none;
}

.dialplan-controlremove {
  width: 24px;
  height: 24px;
}

.dialplan-controlitem-description {

}

/**
 * Right panel
 */

#dialplan-settingsbar {
  height: 100%;
  float: right;
  width: 40%;
  width: -moz-calc(40% - 30px);
  width: -webkit-calc(40% - 30px);
  margin: 0 5px;
}

#dialplan-extention-listing {
  margin-bottom: 5px;
  border: solid 2px grey;
  border-radius: 10px;
  padding: 5px;
  height: 20%;
}

#dialplan-extension-list {
  list-style-type: none;
}

#dialplan-settings {
  border: solid 2px grey;
  border-radius: 10px;
  height: 60%;
  height: -moz-calc(60% -   20px);
  height: -webkit-calc(60% -   20px);
  margin: 10px 0;
}

.dialplan-settingsList {
  list-style-type: none;
}

.dialplan-setting-time {
  width: 40px;
}

#dialplan-comment-container {
  border: solid 2px grey;
  border-radius: 10px;
  height: 20%;
  margin-top: 5px;
  padding: 2px;
}

#dialplan-comment {
  width: 100%;
  height: 100%;
  border: 0;
}