nav>ul {
  list-style-type: none;
  padding: 0;

  overflow: auto;
  height: 100%;
}

nav button.faded {
  opacity: 0.4;
}

nav img {
  /*
  width: 32px;
  height: 32px;
  */
}

#navigation ul {
  margin: 0;
}
