#organization-page {
  height: 100%;
}

#organization-page ul {
  list-style-type: none;
}

#organization-listing {
  float: left;
  width: 20%;
  height: 100%;
  padding: 0 5px;
}

#organization-create {
  width: 100%;
  width: -moz-calc(100% -   2px);
  width: -webkit-calc(100% -   2px);
  margin: 5px 1px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 2px;
}

#organization-search-box {
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
}

#organization-list {
  height: 100%;
  height: -moz-calc(100% -   68px);
  height: -webkit-calc(100% -   68px);
  overflow: auto;
  border: 1px solid grey;
  border-radius: 2px;
}

#organization-list>li {
  padding: 5px 8px;
}

#organization-content {
  float: left;
  width: 60%;
  width: -moz-calc(60% -   5px);
  width: -webkit-calc(60% -   5px);
  height: 100%;
  height: -moz-calc(100% -   10px);
  height: -webkit-calc(100% -   10px);
  border: solid 2px grey;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  overflow: auto;
}

#organization-rightbar {
  float: right;
  width: 20%;
  width: -moz-calc(20% -   10px);
  width: -webkit-calc(20% -   10px);
  height: 100%;
  padding: 5px 10px 5px 0px;
}

#organization-rightbar>div {
  height: 50%;
}

#organization-rightbar>div+div {
  height: 50%;
  padding-top: 15px;
}

#organization-rightbar>div>div {
  height: 100%;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 5px;
}

#organization-reception-list li,#organization-contact-list li {
  margin-left: 10px;
}