#organization-page {
  height: 100%;
}

#organization-page ul {
  list-style-type: none;
}

#organization-listing {
  float: left;
  width: 20%;
  height: 100%;
  padding: 0 5px;
}

#organization-search-box {
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
}

#organization-list {
  height: 100%;
  height: -moz-calc(100% - 68px);
  height: -webkit-calc(100% - 68px);
  overflow: auto;
  border: 1px solid grey;
  border-radius: 2px;
  padding: 0;
}

#organization-list>li {
  border-left: 2px solid transparent;
  padding: 5px 0 5px 5px;
}

#organization-list>li.highlightListItem {
  border-left: 2px solid red;
}

/******************
     CONTENT
*******************/

#organization-content {
  float: left;
  width: 60%;
  width: -moz-calc(60% - 5px);
  width: -webkit-calc(60% - 5px);
  height: 100%;
  height: -moz-calc(100% - 10px);
  height: -webkit-calc(100% - 10px);
  border: solid 2px grey;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  overflow: auto;
}

/******************
     RIGHT BAR
*******************/

#organization-rightbar {
  float: right;
  width: 20%;
  width: -moz-calc(20% - 10px);
  width: -webkit-calc(20% - 10px);
  height: 100%;
  padding: 5px 10px 5px 0px;
}

#organization-reception-container {
  height: 15%;
}

#organization-contact-container {
  height: 85%;
  padding-top: 15px;
}

#organization-rightbar>div>div {
  height: 100%;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 5px;
}

#organization-reception-list {
  overflow: auto;
  height: 100%;
  height: -moz-calc(100% - 20px);
  height: -webkit-calc(100% - 20px);
}

#organization-contact-list {
  overflow: auto;
  height: 100%;
  height: -moz-calc(100% - 20px);
  height: -webkit-calc(100% - 20px);
}

#organization-reception-list li,#organization-contact-list li {
  margin-left: 10px;
}