#user-page {
  height: 100%;
}

/**
  Left side panel.
*/

#user-listing {
  float: left;
  width: 20%;
  height: 100%;
  padding-left: 5px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
}

.page input {
  margin: 5px;
  padding: 5px;
}

.page label {
  display: block;
}

#user-list {
  height: 100%;
  height: -moz-calc(100% - 70px);
  height: -webkit-calc(100% - 70px);
  overflow: auto;
  padding: 0;
}

#user-list > li {
  border-left: 2px solid transparent;
  padding: 5px 0 5px 3px;
}

#user-list > li.highlightListItem {
  border-left: 2px solid red;
  background-color: #B3E5FC;
  font-weight: bold;
}

/**
  Content panel.
*/
#user-content {
  float: left;
  width: 80%;
  width: -moz-calc(80% - 19px);
  width: -webkit-calc(80% - 19px);
  height: 100%;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
  padding: 5px;
  margin-left: 9px;
  overflow: auto;
}

.small-button {
  width: 16px;
  height: 16px;
}
