#user-page {
  height: 100%;
}

/**
  Left side panel.
*/

#user-listing {
  float: left;
  width: 20%;
  height: 100%;
  padding: 0 5px;
}

#user-create {
  width: 100%;
  width: -moz-calc(100% - 2px);
  width: -webkit-calc(100% - 2px);
  margin: 5px 1px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 2px;
}

#user-list {
  height: 100%;
  height: -moz-calc(100% - 38px);
  height: -webkit-calc(100% - 38px);
  overflow: auto;
  border: 1px solid grey;
  border-radius: 5px;
  padding-right: 5px;
  padding-left: 0;
  list-style-type: none;
}

#user-list > li {
  border-left: 2px solid transparent;
  padding: 5px 0 5px 3px;
}

#user-list > li.highlightListItem {
  border-left: 2px solid red;
}

/**
  Content panel.
*/
#user-content {
  float: left;
  width: 80%;
  width: -moz-calc(80% - 10px);
  width: -webkit-calc(80% - 10px);
  height: 100%;
  height: -moz-calc(100% - 10px);
  height: -webkit-calc(100% - 10px);
  border: solid 2px grey;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  overflow: auto;
}

.small-button {
  width: 16px;
  height: 16px;
}
