# Do not track emacs/nano temporary and backup files
\#*#
*~
.#*#

# Do not track makefile.setup and config.dart
config.dart
makefile.setup

# Do not track key files
key/*json

# Files and directories created by pub
.packages
.pub/
build/
packages
pubspec.lock

# Directory created by dartdoc
doc/api/
