#agent-info {
  position: absolute;
  left: 81%;
  top: 0%;
  height: 6%;
  width: 19%;
}

#agent-info-stats {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  font-size: 1.1em;
}

#agent-info-portrait {
  position: absolute;
  top: 0px;
  height: 100%;
  padding: 5px;
}

#agent-info-portrait-image {
  border: solid 2px #aaa; 
  border-radius: 5px; 
  height: 100%; 
  width: 100%;
}


#call-info {
  text-align:right;
  position: absolute;
  left: 86%;
  top: 0%;
  height: 6%;
  width: 14%;
}
