#agent-info {
  position: absolute;
  box-shadow: 2px 2px 3px #ccc;
  left: 81%;
  top: 0%;
  height: 6%;
  width: 19%;
}

#agent-info-portrait {
  position: absolute;
  top: 0px;
  height: 100%;
  padding: 5px;
}

#agent-info-portrait-image {
  border: solid 2px #aaa;
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

#agent-info-stats {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  font-size: 1.1em;
}

#agent-info-status {
  position: absolute;
  color: white;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.box-with-header-content {
  overflow: auto;
}

/* Appears to NOT be in use
.box-with-header-focusborder {
  border: solid 2px red;
}
*/

/* Only used by the boxwithheader component */
.box-with-header-headline {
  background-color: #dedede;
  color: #444;
  font-weight: bold;
}

/* Appears to NOT be in use
.box-with-header-big {
  font-size: 1.0em;
  padding: 5px 10px;
}
*/

/* Only used by the boxwithheader component */
.box-with-header-medium {
  font-size: 0.8em;
  padding: 0px 5px 2px 5px;
}

.box-with-header-outer {
  background-color: #fafafa;
  border: solid 2px #ddd;
  /* overflow: auto; */
}

/* only used once */
.box-with-header-outer-left {
  background-color: #fafafa;
  border: solid 2px #ddd;
  border-right: none;
  border-radius: 4px  0px 0px 4px;
}

/* only used once */
.box-with-header-outer-right {
  background-color: #fafafa;
  border: solid 2px #ddd;
  border-radius: 0px  4px 4px 0px;
}

/* this global button styling seems fairly pointless */
button {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

/* disables Firefox dotted line on latest clicked button element */
button::-moz-focus-inner {
  border: 0;
}

/* seems to be used by the context switcher for click effect */
button:focus {
  background-color: #fff8c4;
  outline: 0.2em solid red;
}

/* used once to identify a single button in compose message */
button.cancel {
  background-color: #f5aca6;
}

button.print,
button.save {
  background: rgb(28, 184, 65); /* HEX ME! this is a green */
}

button.copy,
button.phonenumber,
button.resend,
button.resend-multiple,
button.send {
  background: rgb(66, 184, 221); /* HEX ME! this is a light blue */
}

/* appears to NOT be in use
button span {
  margin-left: 10.5em;
  margin-right: 10.5em;
}
*/

/* used in view-contact-calendar and view-reception-calendar */
.calendar-event-content {
  vertical-align: top;
}

/* used in view-contact-calendar and view-reception-calendar */
.calendar-event-notactive {
  color: #999;
  font-weight: normal;
}

/* used in view-contact-calendar and view-reception-calendar */
.calendar-event-table {
  width: 100%;
  border-collapse: collapse;
}

/* used in view-contact-calendar and view-reception-calendar */
.calendar-event-timestamp {
  text-align: right;
  vertical-align: top;
  font-weight: bold;
  padding-top: 5px;
}

/* only used in view-call.dart */
.call-queue-item-default {
  height: 30px;
  margin: 5px;
  margin-left: 30px;
  background-color: #fff;
  border-left: 4px solid #7ad03a;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  list-style-image: url("../images/phone20x20.png");
}

/* only used in view-call.dart */
.call-queue-item-default:hover {
  border-left: 4px solid #333;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.5);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.5);
  list-style-image: url("../images/phone20x20.png");
}

/* only used in view-call.dart */
.call-queue-item-seconds {
  float: right;
}

#contact-calendar {
  width: 100%;
  height: 100%;
}

#contact-calendar-list {
  height: 100%;
  width: 100%;
  overflow: auto;
  font-size: 0.9em;
}

.contact-data-field {
  min-height: 40px;
  min-width: 300px;
  overflow: auto;
  font-size: small;
}

#contact-data-header {
  top: 180px;
  left: 40.5%;
  width: 100%;
  height: 90%;
}

#contact-selector {
  height: 100%;
  width: 100%;
}

#contact-selector-input {
  width: 100%;
  min-height: 30px;
  border: solid 2px #ccc;
  padding: 3px;
  font-size: 1.1em;
  border-radius: 3px;
}

#contact-selector-list .selected {
  border: 3px solid #67c1f3;
}

#contact-selector-search {
  width: 100%;
}

.contact-selector-search-box {
  width: 100%;
  padding: 10px;
}

#context-home-switcher-button {
  background: url(../images/contexthome.svg) no-repeat top left;
  background-size: contain;
}

#context-home-switcher-button.active,
#context-home-switcher-button:hover {
  background: none;
  background: url(../images/contexthome_active.svg) no-repeat top left;
  background-size: contain;
}

#context-homeplus-switcher-button {
  background: url(../images/contexthomeplus.svg) no-repeat top left;
  background-size: contain;
}

#context-homeplus-switcher-button.active,
#context-homeplus-switcher-button:hover {
  background: url(../images/contexthomeplus_active.svg) no-repeat top left;
  background-size: contain;
}

/* not currently in use
#context-log-switcher-button {
  background: url(../images/contextlog.svg) no-repeat top left;
  background-size: contain;
}

#context-log-switcher-button.active,
#context-log-switcher-button:hover {
  background: url(../images/contextlog_active.svg) no-repeat top left;
  background-size: contain;
}*/

#context-messages-switcher-button {
  background: url(../images/contextmessages.svg) no-repeat top left;
  background-size: contain;
}

#context-messages-switcher-button.active,
#context-messages-switcher-button:hover {
  background: url(../images/contextmessages_active.svg) no-repeat top left;
  background-size: contain;
}

/* not currently in use
#context-phone-switcher-button {
  background: url(../images/contextphone.svg) no-repeat top left;
  background-size: contain;
}

#context-phone-switcher-button.active,
#context-phone-switcher-button:hover {
  background: url(../images/contextphone_active.svg) no-repeat top left;
  background-size: contain;
}*/

/* not currently in use
#context-statistics-switcher-button {
  background: url(../images/contextstatistics.svg) no-repeat top left;
  background-size: contain;
}

#context-statistics-switcher-button.active,
#context-statistics-switcher-button:hover {
  background: url(../images/contextstatistics_active.svg) no-repeat top left;
  background-size: contain;
}*/

/* not currently in use
#context-voicemails-switcher-button {
  background: url(../images/contextvoicemails.svg) no-repeat top left;
  background-size: contain;
}

#context-voicemails-switcher-button.active,
#context-voicemails-switcher-button:hover {
  background: url(../images/contextvoicemails_active.svg) no-repeat top left;
  background-size: contain;
}*/

#context-switcher {
  top: 0%;
  left: 0%;
  height: 100%;
  width: 1.5%;
  min-width: 30px;
  background-color: #fafafa;
  border-top: solid 2px #ddd;
  border-right: solid 2px #ddd;
  border-bottom: solid 2px #ddd;
  border-radius: 0px 5px 5px 0px;
  list-style-type: none;
}

#context-switcher > li {
  margin: 0px auto;
  width: 70%;
}

#context-switcher > li > button {
  background-size: contain;
  position: relative;
  height: 20px;
  width: 20px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

#context-switcher > li > button > img {
  position: absolute;
  top: 0;
  left: 0;
}

.disabled {
  opacity: 0.5;
  background-color: #ccc;
}

#global-call-queue {
  height: 20%;
  width: 100%;
}

/* appears to NOT be in use
.global-queue-zebra {
  list-style-type: none;
  width: 100%;
}

.global-queue-zebra li:nth-of-type(even) {
  background-color: #eee;
}

.global-queue-zebra li {
  width: 100%;
}
*/

legend span {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/* used in view-call-list.dart */
li.call.enqueued {
  background-color: #ffeeee;
  list-style-image: url("../images/queue-icon-20x20.png");
}

/*  used in view-call.dart */
li.call.destroyed {
  opacity : 0.8;
  background-color: #ffecec;
  list-style-image: url("../images/destroyed-icon-20x20.gif");
}

/* used in view-call-list.dart */
li.call.locked {
  opacity : 0.3;
  background-color: #fff8c4;
  list-style-image: url("../images/locked-icon-20x20.png");
}

/* used in view-call.dart and view-call-list.dart */
li.call.parked {
  opacity : 0.7;
  background-color: #e3f7fc;
  list-style-image: url("../images/parked-icon-20x20.png");
}

li.call.speaking {
  opacity : 1.0;
  background-color: #e9ffd9;
  list-style-image: url("../images/speaking-icon-20x20.png");
}

.loading-big {
  display: block;
  width: 222px;
  height: 222px;
  margin: 10% auto;
  filter: alpha(opacity=80);
}

.loading-overlay {
  width:100%;
  background: #000;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

#message-overview {
  height: 99%;
  width: 100%;
  overflow: auto
}

#message-overview > table {
  font-size: 0.8em;
  width: 100%;
  display:block;
  overflow: auto;
}

#message-overview > table > thead {
  background-color: #ddd;
}

#message-overview > table tr {
  outline: 0.1em solid transparent;
  height: 3.2em;
}

#message-overview > table tr.selected {
  outline: 0.1em solid #67c1f3;
}

#message-overview > table tr.selected td {
  background-color:rgba(67,193,243,0.2) !important;
}

#message-overview-header-agent {
  width: 15%;
}

#message-overview-header-caller {
  width: 40%;
}

#message-overview-header-checkbox {
  width: 2%;
}

#message-overview-header-context {
  width: 20%;
}

#message-overview-header-status {
  width: 10%;
}

#message-overview-header-timestamp {
  width: 13%;
}

#message-search {
  height: 30%;
  width: 100%;
  overflow: auto
}

.no-chrome {
  background-color: #fafafa;
  border: solid 2px #ddd;
  overflow: auto;
}

.overlay-notification {
  color:white;
  font-size: 1.8em;
  line-height: 2.0em;
  text-align : center;
  margin-top: 20px;
}

.selected {
  outline: 0.1em solid #67c1f3;
}

textarea.loading {
  background: url(../images/loader-small.gif) no-repeat 50% 50%;
}

.zebra {}

.zebra li {
  padding: 5px;
}

.zebra li:nth-of-type(even) {
  background-color:rgba(0,0,0,0.1); /* HEX ME! Or use opacity instead */
}
