#agent-info {
  position: absolute;
  box-shadow: 2px 2px 3px #ccc;
  left: 81%;
  top: 0%;
  height: 6%;
  width: 19%;
}

#agent-info-portrait {
  position: absolute;
  top: 0px;
  height: 100%;
  padding: 5px;
}

#agent-info-portrait-image {
  border: solid 2px #aaa;
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

#agent-info-stats {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  font-size: 1.1em;
}

#agent-info-status {
  position: absolute;
  color: white;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.box-with-header-content {
  overflow: auto;
}

/* Appears to NOT be in use
.box-with-header-focusborder {
  border: solid 2px red;
}
*/

/* Only used by the boxwithheader component */
.box-with-header-headline {
  background-color: #dedede;
  color: #444;
  font-weight: bold;
}

/* Appears to NOT be in use
.box-with-header-big {
  font-size: 1.0em;
  padding: 5px 10px;
}
*/

/* Only used by the boxwithheader component */
.box-with-header-medium {
  font-size: 0.8em;
  padding: 0px 5px 2px 5px;
}

.box-with-header-outer {
  background-color: #fafafa;
  border: solid 2px #ddd;
  /* overflow: auto; */
}

/* only used once */
.box-with-header-outer-left {
  background-color: #fafafa;
  border: solid 2px #ddd;
  border-right: none;
  border-radius: 4px  0px 0px 4px;
}

/* only used once */
.box-with-header-outer-right {
  background-color: #fafafa;
  border: solid 2px #ddd;
  border-radius: 0px  4px 4px 0px;
}

/* this global button styling seems fairly pointless */
button {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

/* disables Firefox dotted line on latest clicked button element */
button::-moz-focus-inner {
  border: 0;
}

/* seems to be used by the context switcher for click effect */
button:focus {
  background-color: #fff8c4;
  outline: 0.2em solid red;
}

/* used once to identify a single button in compose message */
button.cancel {
  background-color: #f5aca6;
}

button.print,
button.save {
  background: rgb(28, 184, 65); /* HEX ME! this is a green */
}

button.copy,
button.phonenumber,
button.resend,
button.resend-multiple,
button.send {
  background: rgb(66, 184, 221); /* HEX ME! this is a light blue */
}

/* appears to NOT be in use
button span {
  margin-left: 10.5em;
  margin-right: 10.5em;
}
*/

legend span {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.loading-big {
  display: block;
  width: 222px;
  height: 222px;
  margin: 10% auto;
  filter: alpha(opacity=80);
}

.loading-overlay {
  width:100%;
  background: #000;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.no-chrome {
  background-color: #fafafa;
  border: solid 2px #ddd;
  overflow: auto;
}

.overlay-notification {
  color:white;
  font-size: 1.8em;
  line-height: 2.0em;
  text-align : center;
  margin-top: 20px;
}
