#agent-info {
  position: absolute;
  box-shadow: 2px 2px 3px #ccc;
  left: 81%;
  top: 0%;
  height: 6%;
  width: 19%;
}

#agent-info-portrait {
  position: absolute;
  top: 0px;
  height: 100%;
  padding: 5px;
}

#agent-info-portrait-image {
  border: solid 2px #aaa;
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

#agent-info-stats {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  font-size: 1.1em;
}

#agent-info-status {
  position: absolute;
  color: white;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
