* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fefefe;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: normal;
  padding: 10px 10px 10px 0px;
}

#rootview {
  position: absolute;
  height: -moz-calc(100% - 20px);
  height: -webkit-calc(100% - 20px);
  width: -moz-calc(100% - 10px);
  width: -webkit-calc(100% - 10px);
}

#agentinfo {
  position: absolute;
  left: 76%;
  top: 0%;
  height: 8%;
  width: 24%;
}

#companyinfo {
  position: absolute;
  top: 10%;
  left: 4%;
  height: 45%;
  width: 96%;
}

#contactinfo {
  position: absolute;
  top: 57%;
  left: 4%;
  height: 43%;
  width: 36%;
}

#contextswitcher {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 3%;
}

#globalqueue {
  position: absolute;
  top: 57%;
  left: 78%;
  height: 26%;
  width: 22%;
}

#localqueue {
  position: absolute;
  top: 85%;
  left: 78%;
  height: 15%;
  width: 22%;
}

#sendmessage {
  position: absolute;
  top: 57%;
  left: 41%;
  height: 43%;
  width: 36%;
}

#welcomemessage {
  position: absolute;
  left: 4%;
  top: 0%;
  height: 8%;
  width: 71%;
}

.hidden {
  display: none;
}
