.box-with-header-outer {
  height: 100%;
  background-color: #fafafa;
  border: solid 2px #ddd;
  border-radius: 5px;
  overflow: auto;
}

.box-with-header-content {
  overflow: auto;
}

.box-with-header-headline {
  background-color: #dedede;
  color: #444;
  font-weight: bold;
}

.box-with-header-big {
  font-size: 1.0em;
  padding: 5px 10px;
}

.box-with-header-medium {
  font-size: 0.8em;
  padding: 0px 5px 2px 5px;
}

.box-with-header-focusborder {
  border: solid 2px red;
}

.no-chrome{
  background-color: #fafafa;
  border: solid 2px #ddd;
  border-radius: 5px;
  overflow: auto;
}
