.calendar-event-table {
  width: 100%;
  border-collapse: collapse;
}

.calendar-event-content {
  vertical-align: top;
}

.calendar-event-timestamp {
  text-align: right;
  vertical-align: top;
  font-weight: bold;
  padding-top: 5px;
}

.calendar-event-notactive {
  color: #999;
  font-weight: normal;
}