/*
.company-alternate-names-placing {
  position: absolute;
  left: 57%;
  top: 30%;
  height: 9%;
  width: 21%;
}

.company-alternate-names-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}
*/

#companyalternatenames {
  position: absolute;
  left: 57%;
  top: 30%;
  height: 9%;
  width: 21%;
  overflow: auto;
}
