#companyhandling {
  position: absolute;
  left: 0%;
  top: 32%;
  height: 18%;
  width: 34%;
  overflow: auto
}

#company_handling_list {
  height: 100%;
  width: 100%;
  overflow: auto;
  font-size: 0.9em;
  list-style-type: none;
}
