/*.company-product-placing {
  position: absolute;
  left: 35%;
  top: 30%;
  height: 9%;
  width: 21%;
}

.company-product-container {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 5px;
}*/

#companyproduct {
  position: absolute;
  left: 35%;
  top: 30%;
  height: 9%;
  width: 21%;
  overflow: auto;
}
