/*
.company-websites-placing {
  position: absolute;
  left: 79%;
  top: 19%;
  height: 9%;
  width: 21%;
}

.company-websites-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}
*/

#companywebsites {
  position: absolute;
  left: 0%;
  top: 35%;
  height: 35%;
  width: 35%;
  overflow: auto;
}
