#companytelephonenumbers {
  position: absolute;
  left: 57%;
  top: 8%;
  height: 9%;
  width: 21%;
  overflow: auto;
}

#company-telephonenumbers-list {
  height: 100%;
  width: 100%;
  overflow: auto;
  font-size: 0.9em;
  list-style-type: none;
}
