fieldset#companyevents>legend {
  background-repeat: no-repeat;
  padding: 1px 1em;
  background-image: url('../images/calendar-icon-16x16.png');
}

#companyevents {
  width: 100%;
}

#company_events_list {
  height: 100%;
  width: 100%;
  font-size: 0.8em;
  list-style-type: none;
  overflow: auto;
}

.company-events-active {
  border-left: solid 3px red;
}

