#companyevents {
  position: absolute;
  left: 0%;
  top: 13%;
  height: 17%;
  width: 34%;
}

.company-events-container {
  height: 100%;
  width: 100%;
  overflow: auto;
  font-size: 0.9em;
  list-style-type: none;
}

.company-events-active {
  border-left: solid 3px red;
}
