/*
.company-email-addresses-placing {
  position: absolute;
  left: 79%;
  top: 8%;
  height: 9%;
  width: 21%;
}

.company-email-addresses-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}
*/

#companyemailaddresses {
  position: absolute;
  left: 0%;
  top: 0%;
  height: 35%;
  width: 35%;
  overflow: auto;
}
      