#companyevents {
  width: 100%;
  height: 20%;
}

#company_events_list {
  height: 100%;
  width: 100%;
  font-size: 0.8em;
  list-style-type: none;
}

.company-events-active {
  border-left: solid 3px red;
}
