/*
.company-registration-number-placing {
  position: absolute;
  left: 79%;
  top: 30%;
  height: 9%;
  width: 21%;
}

.company-registration-number-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}
*/

#companyregistrationnumber {
  position: absolute;
  left: 79%;
  top: 30%;
  height: 9%;
  width: 21%;
  overflow: auto;
}
