#contextswitcher {
  top: 0%;
  left: 0%;
  height: 100%;
  width: 1.5%;
  min-width: 30px;
  background-color: #fafafa;
  border-top: solid 2px #ddd;
  border-right: solid 2px #ddd;
  border-bottom: solid 2px #ddd;
  border-radius: 0px 5px 5px 0px;
  list-style-type: none;
}
  
#contextswitcher > li {
  margin: 0px auto;
  width: 70%;
}

#contextswitcher > li > button {
  position: relative;
  width: 100%;
  background-color: inherit;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

#contextswitcher > li > button > img {
  position: absolute;
  top: 0;
  left: 0;
}

#contextswitcher > li > button > img:hover {
  cursor: pointer;
}
      