#contextswitcher {
  top: 0%;
  left: 0%;
  height: 100%;
  width: 1.5%;
  min-width: 30px;
  background-color: #fafafa;
  border-top: solid 2px #ddd;
  border-right: solid 2px #ddd;
  border-bottom: solid 2px #ddd;
  border-radius: 0px 5px 5px 0px;
  list-style-type: none;
}
  
#contextswitcher > li {
  margin: 0px auto;
  width: 70%;
}

#contextswitcher > li > button {
  background-size: contain;
  position: relative;
  height: 20px;
  width: 20px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

/* 
 * Contexthome SVG background 
 */

#contexthome_switcherbutton {
  background: url(../images/contexthome.svg) no-repeat top left;
  background-size: contain;
}

#contexthome_switcherbutton.active, #contexthome_switcherbutton:hover {
  background: none;
  background: url(../images/contexthome_active.svg) no-repeat top left;
  background-size: contain;
}

/* 
 * Contexthomeplus SVG background 
 */

#contexthomeplus_switcherbutton {
  background: url(../images/contexthomeplus.svg) no-repeat top left;
  background-size: contain;
}

#contexthomeplus_switcherbutton.active, #contexthomeplus_switcherbutton:hover {
  background: url(../images/contexthomeplus_active.svg) no-repeat top left;
  background-size: contain;
}

/* 
 * Messages SVG background 
 */

#contextmessages_switcherbutton {
  background: url(../images/contextmessages.svg) no-repeat top left;
  background-size: contain;
}

#contextmessages_switcherbutton.active, #contextmessages_switcherbutton:hover {
  background: url(../images/contextmessages_active.svg) no-repeat top left;
  background-size: contain;
}

/* 
 * Log SVG background 
 */

#contextlog_switcherbutton {
  background: url(../images/contextlog.svg) no-repeat top left;
  background-size: contain;
}

#contextlog_switcherbutton.active, #contextlog_switcherbutton:hover {
  background: url(../images/contextlog_active.svg) no-repeat top left;
  background-size: contain;
}

#contextstatistics_switcherbutton {
  background: url(../images/contextstatistics.svg) no-repeat top left;
  background-size: contain;
}

#contextstatistics_switcherbutton.active, #contextstatistics_switcherbutton:hover {
  background: url(../images/contextstatistics_active.svg) no-repeat top left;
  background-size: contain;
}

#contextphone_switcherbutton {
  background: url(../images/contextphone.svg) no-repeat top left;
  background-size: contain;
}

#contextphone_switcherbutton.active, #contextphone_switcherbutton:hover {
  background: url(../images/contextphone_active.svg) no-repeat top left;
  background-size: contain;
}

#contextvoicemails_switcherbutton {
  background: url(../images/contextvoicemails.svg) no-repeat top left;
  background-size: contain;
}

#contextvoicemails_switcherbutton.active, #contextvoicemails_switcherbutton:hover {
  background: url(../images/contextvoicemails_active.svg) no-repeat top left;
  background-size: contain;
}



#contextswitcher > li > button > img {
  position: absolute;
  top: 0;
  left: 0;
}

      