#message-search {
  height: 30%;
  width: 100%;
  overflow: auto
}

#messageoverview {
  height: 99%;
  width: 100%;
  overflow: auto
}

#messageoverview > table {
  font-size: 0.8em;
  width: 100%;
  display:block;
  overflow: auto;
}

#messageoverview > table > thead {
  background-color: #ddd;
}

#messageoverview > table tr {
  outline: 0.1em solid transparent;
  height: 3.2em;
}

#messageoverview > table tr.selected {
  outline: 0.1em solid #67c1f3;
}

#messageoverview > table tr.selected td {
  background-color:rgba(67,193,243,0.2) !important;
}

#message-overview-header-checkbox {
  width: 2%;  
}

#message-overview-header-timestamp {
  width: 13%;  
}

#message-overview-header-agent {
  width: 15%;  
}

#message-overview-header-context {
  width: 20%;  
}

#message-overview-header-caller {
  width: 40%;  
}

#message-overview-header-status {
  width: 10%;  
}
