#context-switcher {
  top: 0%;
  left: 0%;
  height: 100%;
  width: 1.5%;
  min-width: 30px;
  background-color: #fafafa;
  border-top: solid 2px #ddd;
  border-right: solid 2px #ddd;
  border-bottom: solid 2px #ddd;
  border-radius: 0px 5px 5px 0px;
  list-style-type: none;
}

#context-switcher > li {
  margin: 0px auto;
  width: 70%;
}

#context-switcher > li > button {
  background-size: contain;
  position: relative;
  height: 20px;
  width: 20px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

/*
 * Contexthome SVG background
 */

#context-home-switcher-button {
  background: url(../images/contexthome.svg) no-repeat top left;
  background-size: contain;
}

#context-home-switcher-button.active,
#context-home-switcher-button:hover {
  background: none;
  background: url(../images/contexthome_active.svg) no-repeat top left;
  background-size: contain;
}

/*
 * Contexthomeplus SVG background
 */

#context-homeplus-switcher-button {
  background: url(../images/contexthomeplus.svg) no-repeat top left;
  background-size: contain;
}

#context-homeplus-switcher-button.active,
#context-homeplus-switcher-button:hover {
  background: url(../images/contexthomeplus_active.svg) no-repeat top left;
  background-size: contain;
}

/*
 * Messages SVG background
 */
#context-messages-switcher-button {
  background: url(../images/contextmessages.svg) no-repeat top left;
  background-size: contain;
}

#context-messages-switcher-button.active,
#context-messages-switcher-button:hover {
  background: url(../images/contextmessages_active.svg) no-repeat top left;
  background-size: contain;
}

/*
 * Log SVG background
 */

#context-log-switcher-button {
  background: url(../images/contextlog.svg) no-repeat top left;
  background-size: contain;
}

#context-log-switcher-button.active,
#context-log-switcher-button:hover {
  background: url(../images/contextlog_active.svg) no-repeat top left;
  background-size: contain;
}

#context-statistics-switcher-button {
  background: url(../images/contextstatistics.svg) no-repeat top left;
  background-size: contain;
}

#context-statistics-switcher-button.active,
#context-statistics-switcher-button:hover {
  background: url(../images/contextstatistics_active.svg) no-repeat top left;
  background-size: contain;
}

#context-phone-switcher-button {
  background: url(../images/contextphone.svg) no-repeat top left;
  background-size: contain;
}

#context-phone-switcher-button.active,
#context-phone-switcher-button:hover {
  background: url(../images/contextphone_active.svg) no-repeat top left;
  background-size: contain;
}

#context-voicemails-switcher-button {
  background: url(../images/contextvoicemails.svg) no-repeat top left;
  background-size: contain;
}

#context-voicemails-switcher-button.active,
#context-voicemails-switcher-button:hover {
  background: url(../images/contextvoicemails_active.svg) no-repeat top left;
  background-size: contain;
}

#context-switcher > li > button > img {
  position: absolute;
  top: 0;
  left: 0;
}
