#globalqueue {
  height: 40%;
  width: 100%;
  overflow: auto;
}

.global-queue-zebra {
  list-style-type: none;
  width: 100%;
}

.global-queue-zebra li:nth-of-type(even) {
  background-color: #eee;
}

.global-queue-zebra li {
  width: 100%;
}

#local-calls {
  position: absolute; 
  bottom: 1%;
  width: 18.5%; 
  overflow: hidden;
}