#globalqueue {
  height: 40%;
  width: 100%;
  overflow: auto;
  font-size: 0.7em;
}

.global-queue-zebra {
  list-style-type: none;
  width: 100%;
}

.global-queue-zebra li:nth-of-type(even) {
  background-color: #eee;
}

.global-queue-zebra li {
  width: 100%;
}

#local-call-list {
  position: absolute; 
  bottom: 1%; 
  overflow: hidden;
}