#logbox table{
  width: 100%;
}

.logbox-time-header {
  width: 8%;
}

.logbox-level-header {
  width: 4%;
}

.logbox-message-header {
  text-align:left;
}

.logbox-row:nth-of-type(even) {
  background-color: #eee;
}
