#message-search {
  position: absolute;
  left: 0%;
  top: 0%;
  height: 40%;
  width: 30%;
  overflow: auto
}

#message-search-agent, #message-search-type, #message-search-company, #message-search-contact {
  width: 95%;
  margin-top: 2%;
  margin-left:auto;
  margin-right:auto;
}

#messageoverview {
  position: absolute;
  left: 31%;
  top: 0%;
  height: 100%;
  width: 68%;
  overflow: auto
}

#messageoverview > table {
  width: 100%
}
