.nudge {
  font-size: 0.7em;
  font-weight:bold; 
  border:1px solid grey;
  border-radius: 4px;
  padding : 3px;
  position:absolute;
}

.nudge.navigation {
  background-color:rgba(255,255,0,0.9);
}

.nudge.command {
  background-color:rgba(0,255,0,0.9);
}