* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #fefefe;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: normal;
}

/*
  This rule disables the dotted line Firefox adds to the latest clicked button
  element.
*/
button::-moz-focus-inner {
  border: 0;
}

#bobloading,
#bobdisaster,
#bobactive {
  position: absolute;
  height: -moz-calc(100%);
  height: -webkit-calc(100%);
  width: -moz-calc(100%);
  width: -webkit-calc(100%);
  margin: 0 auto;
}

#curtains {
  position: absolute;
  background-color: inherit;
  width: 100%;
  height: 100%;
}

.hidden {
  visibility: hidden;
  z-index: -100;
}

.minibox {
  font-size: 0.9em;
}

.zebra {}

.zebra li {
  padding: 5px;
}

.zebra li:nth-of-type(even) {
  background-color:rgba(0,0,0,0.1);
}

.context {
  position: absolute;
  top: 0%;
  left: 2%;
  height: 100%;
  width: 98%;
}

.focus {
  border: 2px solid red !important;
}
