*:focus {
    outline: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #fefefe;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: normal;
}

fieldset {
  border-radius: 4px;
  margin: 0.3em 0;
  padding-bottom: 1.1em;
}

fieldset legend {
  display: inline;
  line-height: 16px;
  text-indent: 1em;
  font-size: 0.7em;
  font-weight: bold;
  padding: 1px 1em;
  margin-left: 1em;
  min-height: 16px;
  background-repeat: no-repeat;
}

fieldset#companyevents legend {
  background-image: url('../images/calendar-icon-16x16.png');
}

fieldset#companyhandling legend {
  background-image: url('../images/alert-icon-16x16.png');
}

fieldset#local-calls legend {
  background-image: url('../images/phone-icon-alert-16x16.png');
}

fieldset#sendmessage legend {
  background-image: url('../images/message-icon-16x16.png');
}

/*
  This rule disables the dotted line Firefox adds to the latest clicked button
  element.
*/
button::-moz-focus-inner {
  border: 0;
}

#bobloading,
#bobdisaster,
#bobactive {
  position: absolute;
  height: -moz-calc(100%);
  height: -webkit-calc(100%);
  width: -moz-calc(100%);
  width: -webkit-calc(100%);
  margin: 0 auto;
}

#curtains {
  position: absolute;
  background-color: inherit;
  width: 100%;
  height: 100%;
}

.hidden {
  visibility: hidden;
  z-index: -100;
}

.minibox {
  font-size: 0.9em;
}

.zebra {}

.zebra li {
  padding: 5px;
}

.zebra li:nth-of-type(even) {
  background-color:rgba(0,0,0,0.1);
}

.context {
  position: absolute;
  top: 0%;
  left: 2%;
  height: 100%;
  width: 98%;
}

.focus {
  border: 2px dashed black !important;
}

#notifications {
}
#notifications>h4 {
  font-size:0.8em;

  padding:10px 36px;
  margin:10px;

  color:#555;
  border-radius: 4px;
  font-weight:bold;

  background:#fff8c4 url('../images/warning.png') no-repeat 10px 50%;
  border:1px solid #f2c779;
}
.error {
  background:#ffecec url('../images/error.png') no-repeat 10px 50%;
  border:1px solid #f5aca6;
}
.success {
  background:#e9ffd9 url('../images/success.png') no-repeat 10px 50%;
  border:1px solid #a6ca8a;
}
.warning {
  background:#fff8c4 url('../images/warning.png') no-repeat 10px 50%;
  border:1px solid #f2c779;
}
.notice {
  background:#e3f7fc url('../images/notice.png') no-repeat 10px 50%;
  border:1px solid #8ed9f6;
}
