#reception-events {
  width: 100%;
}

#reception-events-list {
  height: 100%;
  width: 100%;
  font-size: 0.8em;
  list-style-type: none;
  overflow: auto;
}

.company-events-active {
  border-left: solid 3px red;
}

