#welcome-message {
  left: 0%;
  top: 0%;
  height: 100%;
  width: 78%;
}

#welcome-message > div {
  display: table;
  height: 100%;
  width: 100%;
  font-size: 1.5em;
}

#welcome-message-text {
  display: table-cell;
  vertical-align: middle;
  padding: 0px 10px;
}

.welcome-message-active-call {
  background-color: lightgreen !important;
}
