body {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0px;
    background-color: #000;
    color: #fff;
}

h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 60px;
}

h2 {
    margin-bottom: 5px;
    margin-top: 5px;
    border-bottom: solid 1px;
    text-align: center;
}

#score_div {
    height: 550px;
}

.stick {
  min-width: 100px;
}

.scoretable {
    margin-left: 20px;
}

.status {
    width: 50px;
    margin-top: 3px;
}

.factstable {
    border-spacing: 40px 0px;
    margin-left: auto;
    margin-right: auto;
}

.factstable td {
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: top;
}

.factstable table {
    border-spacing: 0px 0px;
}

.factstable table td {
    padding-top: 3px;
    padding-bottom: 3px;
}

img {
    margin-bottom: -2px;
}

.largeth {
    font-size: large;
    padding-bottom: 10px;
}

.bright {
    background-color: #222;
}

.sun_cloud_top {
    margin: 5px 0px 8px 60px;
}

.sun_cloud_bottom {
    margin: 5px 0px 0px 60px;
}

.green {
    font-weight: bold;
    color: #04b508;
}

.yellow {
    font-weight: bold;
    color: yellow;
}

.red {
    font-weight: bold;
    color: #ba0000;
}

.name {
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.message {
    position: absolute;
    color: black;
    top: 10px;
    left: 15px;
}

.breakmessage {
    position: absolute;
    left: 60px;
    border: solid 1px #fff;
    width: 230px;
    background-color: #000;
    color: white;
    opacity: .6;
    padding: 0px 3px 0px 3px;
}

.breakmessage_red {
    position: absolute;
    left: 60px;
    border: solid 2px #aaa;
    width: 230px;
    background-color: #eee;
    color: #407bbc;
    padding: 0px 3px 0px 3px;
}

.messageadm {
    position: absolute;
    border: solid 1px #fff;
    width: 230px;
    background-color: #000;
    color: white;
    top: 10px;
    left: 15px;
    opacity: .6;
}

.praise1 {
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 1px #fff;
    background-color: #0000ff;
    color: white;
    font-size: 18px;
    top: 8px;
    left: 330px;
    opacity: .7;
}

.praise2 {
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 1px #fff;
    background-color: #0000ff;
    color: white;
    font-size: 22px;
    top: 5px;
    left: 330px;
    opacity: .7;
}

.praise3 {
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 1px #fff;
    background-color: #0000ff;
    color: white;
    font-size: 27px;
    top: 2px;
    left: 330px;
    opacity: .7;
}

.praise4 {
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 1px #fff;
    background-color: #0000ff;
    color: white;
    font-size: 38px;
    top: -5px;
    left: 330px;
    opacity: .7;
}

.stick {
    margin-top: 10px;
    height: 40px;
    background: url(../img/stick_center.png) top left repeat-x;
    position: relative;
}

.stick_left {
    float: left;
}

.stick_right {
    float: right;
}

.stick_red {
    margin-top: 10px;
    height: 40px;
    background: url(../img/stick_center_red.png) top left repeat-x;
    position: relative;
}
