@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.ivr-edit-widget {
  display: inline;
  float: left;
}

.hidden {
  display: none;
}

textarea.dialplan-action {
  width: 32em;
  height: 10em;

}

textarea {
  width: 700px;
  height: 800px;

}

nav li {
  display: inline;
}

.ivr-menu ul {
position: absolute;
  left: 0%;
  width: 10%;
}

.ivr-menu textarea.ivr-edit {
  position: absolute;
  left: 10%;
  width: 30%;
}

.ivr-menu div.ivr-preview {
  position: absolute;
  left: 40%;
  width: 30%;
}


ul#dialplan-list {
position: absolute;
  display:block;
  left: 0%;
  width: 10%;
  height:600px;
}

textarea.dialplan-edit {
  position: absolute;
  left: 10%;
  width: 30%;
}

div.dialplan-view-widget {
  position: absolute;
  left: 40%;
  width: 30%;
}

.error-console {
  position: absolute;
  right: 0%;
  width: 30%;
}
