<!DOCTYPE html>

<html>
  <head>
    <link rel="import" href="box.html">
  </head>
  <body>
    <element name="agent-info" constructor="AgentInfo" extends="span" apply-author-styles>
      <style scoped>
        .placing {
          position: absolute;
          left: 90%;
          top: 0%;
          height: 6%;
          width: 10%;
        }

        .container {
          position: relative;
          height: 100%;
          width: 100%;
          border-radius: 5px;
          overflow: hidden;
          font-size: 1.1em;
        }

        .face {
          position: absolute;
          top: 0px;
          height: 100%;
          padding: 5px;
        }
      </style>

      <template>
        <box class="placing">
          <div name="boxcontent" class="container">
            <table>
              <tr>
                <td>{{active}}</td>
                <td>: {{activeLabel}}</td>
              </tr>
              <tr>
                <td>{{paused}}</td>
                <td>: {{pausedLabel}}</td>
              </tr>
            </table>
            <div name="face" class="face">
              <img style="border: solid 2px #aaa; border-radius: 5px; height: 100%; width: 100%" src="{{faceURL}}">
            </div>
          </div>
        </box>
      </template>

      <script type="application/dart" src="agentinfo.dart"></script>
    </element>
  </body>
</html>
