<!DOCTYPE html>

<html>
  <head>
    <link rel="import" href="xcontext.html">
    <link rel="import" href="xcontextswitcher.html">
    <link rel="import" href="xwelcomemessage.html">
    <link rel="import" href="xagentinfo.html">
    <!-- <link rel="import" href="xcompanyinfo.html"> -->
    <link rel="import" href="xcompanyselector.html">
    <link rel="import" href="xcompanyevents.html">
    <link rel="import" href="xcompanyhandling.html">
    <link rel="import" href="xcompanyopeninghours.html">
    <link rel="import" href="xcompanysalescalls.html">
    <link rel="import" href="xcompanyproduct.html">
    <link rel="import" href="xcompanycustomertype.html">
    <link rel="import" href="xcompanytelephonenumbers.html">
    <link rel="import" href="xcompanyaddresses.html">
    <link rel="import" href="xcompanyalternatenames.html">
    <link rel="import" href="xcompanybankinginformation.html">
    <link rel="import" href="xcompanyemailaddresses.html">
    <link rel="import" href="xcompanywebsites.html">
    <link rel="import" href="xcompanyregistrationnumber.html">
    <link rel="import" href="xcompanyother.html">
    <link rel="import" href="xcontactinfo.html">
    <link rel="import" href="xsendmessage.html">
    <link rel="import" href="xglobalqueue.html">
    <link rel="import" href="xlocalqueue.html">
    <link rel="import" href="xfoo.html">
    <link rel="import" href="xlogbox.html">
  </head>
  <body>
    <element name="app" constructor="App" extends="div" apply-author-styles>
      <template>
        <template instantiate="if !configuration.loaded">
          <h1>Loading application....</h1>
        </template>

        <template instantiate="if configuration.loaded">
          <x-context-switcher id="contextswitcher"></x-context-switcher>

          <x-context id="contexthome">
            <x-welcome-message></x-welcome-message>
            <x-agent-info></x-agent-info>
            <!-- <x-company-info id="companyinfo"></x-company-info> -->

            <x-company-selector></x-company-selector>
            <x-company-events></x-company-events>
            <x-company-handling></x-company-handling>

            <x-company-opening-hours id="companyopeninghours"></x-company-opening-hours>
            <x-company-sales-calls id="companysalescalls"></x-company-sales-calls>
            <x-company-product id="companyproduct"></x-company-product>
            <x-company-customer-type id="companycustomertype"></x-company-customer-type>
            <x-company-telephone-numbers id="companytelephonenumbers"></x-company-telephone-numbers>
            <x-company-addresses id="companyaddresses"></x-company-addresses>
            <x-company-alternate-names id="companyalternatenames"></x-company-alternate-names>
            <x-company-banking-information id="companybankinginformation"></x-company-banking-information>
            <x-company-email-addresses id="companyemailaddresses"></x-company-email-addresses>
            <x-company-websites id="companywebsites"></x-company-websites>
            <x-company-registration-number id="companyregistrationnumber"></x-company-registration-number>
            <x-company-other id="companyother"></x-company-other>
            <x-contact-info id="contactinfo"></x-contact-info>
            <x-send-message id="sendmessage"></x-send-message>
            <x-global-queue id="globalqueue"></x-global-queue>
            <x-local-queue id="localqueue"></x-local-queue>
          </x-context>

          <x-context id="contextmessages" class="hidden">
            <x-foo contextid="contextmessages">
              Set alert level for
            </x-foo>
          </x-context>

          <x-context id="contextlog" class="hidden">
            <x-logbox id="logbox"></x-logbox>
          </x-context>

          <x-context id="contextstatistics" class="hidden">
            <x-foo contextid="contextstatistics">
              Set alert level for
            </x-foo>
          </x-context>

          <x-context id="contextphone" class="hidden">
            <x-foo contextid="contextphone">
              Set alert level for
            </x-foo>
          </x-context>

          <x-context id="contextvoicemails" class="hidden">
            <x-foo contextid="contextvoicemails">
              Set alert level for
            </x-foo>
          </x-context>
        </template>
      </template>

      <script type="application/dart" src="app.dart"></script>
    </element>
  </body>
</html>
