<!DOCTYPE html>
<html>
  <head>  
    <link rel="import" href="bob-context.html">
    <link rel="import" href="bob-disaster.html">
    <link rel="import" href="bob-loading.html">
    <link rel="import" href="contextswitcher.html">
    <link rel="import" href="xfoo.html">
  </head>
  <body>
    <polymer-element name="bob-app">
      <template>
        <div>    
          <template if="{{state.isUnknown}}">
            <bob-loading></bob-loading>
          </template>
          
          <template if="{{state.isError}}">
            <bob-disaster></bob-disaster>
          </template>
          
          <template if="{{state.isOK}}">
            <context-switcher id="contextswitcher"></context-switcher>
          
            <bob-context id="contexthome">
              <h1>HomeContext</h1>
            </bob-context>
            
            <bob-context id="contextmessages" class="hidden">
              <x-foo>
                Set alert level for
              </x-foo>
            </bob-context>
             
            <bob-context id="contextlog" class="hidden">
              <!-- <log-box></log-box> -->
              <x-foo>
                Set alert level for
              </x-foo>
            </bob-context>
            
            <bob-context id="contextstatistics" class="hidden">
              <x-foo>
                Set alert level for
              </x-foo>
            </bob-context>
  
            <bob-context id="contextphone" class="hidden">
              <x-foo>
                Set alert level for
              </x-foo>
            </bob-context>
  
            <bob-context id="contextvoicemails" class="hidden">
              <x-foo>
                Set alert level for
              </x-foo>
            </bob-context>
          </template>
        </div>
      </template>
      <script type="application/dart" src="bob-app.dart"></script>
    </polymer-element>
  </body>
</html>

 <!--
<!DOCTYPE html>

<html>
  <head>
  <!-- 
    <link rel="import" href="welcomemessage.html">
    <link rel="import" href="agentinfo.html">
    <link rel="import" href="companyselector.html">
    <link rel="import" href="companyevents.html">
    <link rel="import" href="companyhandling.html">
    <link rel="import" href="companyopeninghours.html">
    <link rel="import" href="companysalescalls.html">
    <link rel="import" href="companyproduct.html">
    <link rel="import" href="companycustomertype.html">
    <link rel="import" href="companytelephonenumbers.html">
    <link rel="import" href="companyaddresses.html">
    <link rel="import" href="companyalternatenames.html">
    <link rel="import" href="companybankinginformation.html">
    <link rel="import" href="companyemailaddresses.html">
    <link rel="import" href="companywebsites.html">
    <link rel="import" href="companyregistrationnumber.html">
    <link rel="import" href="companyother.html">
    <link rel="import" href="contactinfo.html">
    <link rel="import" href="sendmessage.html">
    <link rel="import" href="globalqueue.html">
    <link rel="import" href="localqueue.html">
    <link rel="import" href="xfoo.html">
    <link rel="import" href="logbox.html"> 
    
  </head>
  <body>
    <element name="bob-app" constructor="BobApp" extends="div" apply-author-styles>
      <template>
        <template instantiate="if state.isOK">

          <bob-context id="contexthome">
            <welcome-message></welcome-message>
            <agent-info></agent-info>
            <company-selector></company-selector>
            <company-events></company-events>
            <company-handling></company-handling>
            <company-opening-hours></company-opening-hours>
            <company-sales-calls></company-sales-calls>
            <company-product></company-product>
            <company-customer-type></company-customer-type>
            <company-telephone-numbers></company-telephone-numbers>
            <company-addresses></company-addresses>
            <company-alternate-names></company-alternate-names>
            <company-banking-information></company-banking-information>
            <company-email-addresses></company-email-addresses>
            <company-websites></company-websites>
            <company-registration-number></company-registration-number>
            <company-other></company-other>
            <contact-info></contact-info>
            <send-message></send-message>
            <global-queue></global-queue>
            <local-queue></local-queue>
          </bob-context>

          <bob-context id="contextmessages" class="hidden">
            <x-foo>
              Set alert level for
            </x-foo>
          </bob-context>

          <bob-context id="contextlog" class="hidden">
            <log-box></log-box>
          </bob-context>

          <bob-context id="contextstatistics" class="hidden">
            <x-foo>
              Set alert level for
            </x-foo>
          </bob-context>

          <bob-context id="contextphone" class="hidden">
            <x-foo>
              Set alert level for
            </x-foo>
          </bob-context>

          <bob-context id="contextvoicemails" class="hidden">
            <x-foo>
              Set alert level for
            </x-foo>
          </bob-context>
        </template>
      </template>
      <script type="application/dart" src="bob-app.dart"></script>
    </element>
    
  </body>
</html>
-->
