<polymer-element name="bob-box">
  <template>
    <style>
      @host{
        :scope{
          display: block;
          background-color: #fafafa;
          border: solid 2px #ddd;
          border-radius: 5px;
          overflow: auto;
        }
      }
            
      .box-content {
        height: 100%;
        overflow: auto;
      }
    </style>
    
    <div class="box-content">
      <content select="[name=boxcontent]"></content>
    </div>
  </template>
  <script type="application/dart" src="bobbox.dart"></script>
</polymer-element>
