<!DOCTYPE html>

<html>
  <body>
    <element name="box-with-header" constructor="BoxWithHeader" extends="span" apply-author-styles>
      <style>
        .box-with-header-outer {
          height: 100%;
          background-color: #fafafa;
          border: solid 2px #ddd;
          border-radius: 5px;
          overflow: auto;
        }

        .box-with-header-content {
          overflow: auto;
        }

        .box-with-header-headline {
          background-color: #dedede;
          color: #444;
          font-weight: bold;
        }

        .box-with-header-focusborder {
          border: solid 2px red;
        }
      </style>

      <template>
        <div class="box-with-header-outer {{focusborder}}">
          <h1 class="box-with-header-headline">
            <content select="[name=boxheader]"></content>
          </h1>
          <div class="box-with-header-content">
            <content select="[name=boxcontent]"></content>
          </div>
        </div>
      </template>

      <script type="application/dart" src="boxwithheader.dart"></script>
    </element>
  </body>
</html>
