<!DOCTYPE html>

<html>
  <head>
    <link rel="import" href="boxwithheader.html">
  </head>
  <body>
    <element name="company-customer-type" constructor="CompanyCustomerType" extends="span" apply-author-styles>
      <style scoped>
        .placing {
          position: absolute;
          left: 35%;
          top: 41%;
          height: 9%;
          width: 21%;
        }

        .container {
          padding: 5px;
        }
      </style>

      <template>
        <box-with-header headerfontsize="0.8em" headerpadding="0px 5px 2px 5px" class="placing">
          <span name="boxheader">
            {{title}}
          </span>

          <div name="boxcontent" class="minibox container">
            {{environment.organization.current.customerType}}
          </div>
        </box-with-header>
      </template>

      <script type="application/dart" src="companycustomertype.dart"></script>
    </element>
  </body>
</html>
