<polymer-element name="company-customer-type">
  <link rel="import" href="boxwithheader.html">
  
  <template>
    <style>
      .company-customer-type-placing {
        position: absolute;
        left: 35%;
        top: 41%;
        height: 9%;
        width: 21%;
      }
  
      .company-customer-type-container {
        height: 100%;
        width: 100%;
        overflow: auto;
        padding: 5px;
      }
    </style>
    
    <box-with-header headerfontsize="0.8em" headerpadding="0px 5px 2px 5px" class="company-customer-type-placing">
      <span name="boxheader">
        {{title}}
      </span>

      <div name="boxcontent" class="minibox company-customer-type-container">
        {{organization.customerType}}
      </div>
    </box-with-header>
  </template>

  <script type="application/dart" src="companycustomertype.dart"></script>
</polymer-element>
