<polymer-element name="company-selector">
  <link rel="import" href="bobbox.html">
      
  <template>
    <style>
      .company-selector-placing {
        position: absolute;
        left: 0%;
        top: 8%;
        height: 3%;
        width: 34%;
      }
    
      .company-selector-default {
        width: 100%;
        height: 100%;
        font-size: 1.2em;
      }
    </style>
    
    <bob-box chrome="false" class="company-selector-placing">
      <div name="boxcontent" style="height: 100%;">
        <select class="company-selector-default" on-change="selection">
          <option disabled selected?="{{organization == nullOrganization}}">
            {{defaultOptionText}}
          </option>
          
          <template repeat="{{org in organizationList}}">
            <option value="{{org.id.toString()}}" selected?="{{org.id == organization.id}}">{{org.name}}</option>
          </template>
        </select>
      </div>
    </bob-box>
  </template>

  <script type="application/dart" src="companyselector.dart"></script>
</polymer-element>
