<polymer-element name="company-email-addresses">
  <link rel="import" href="boxwithheader.html">

  <template>  
    <style>
      .company-email-addresses-placing {
        position: absolute;
        left: 79%;
        top: 8%;
        height: 9%;
        width: 21%;
      }
  
      .company-email-addresses-container {
        height: 100%;
        width: 100%;
        overflow: auto;
      }
  
      .company-email-addresses-zebra {
        list-style-type: none;
      }
  
      .company-email-addresses-zebra li {
        padding: 4px;
      }
  
      .company-email-addresses-zebra li:nth-of-type(even) {
        background-color: #eee;
      }
    </style>
    
    <box-with-header headerfontsize="0.8em" headerpadding="0px 5px 2px 5px" class="company-email-addresses-placing">
      <span name="boxheader">
        {{title}}
      </span>

      <div name="boxcontent" class="minibox company-email-addresses-container">
        <ul class="company-email-addresses-zebra">
          <template repeat="{{value in organization.emailAddressList}}">
            <li>{{value}}</li>
          </template>
        </ul>
      </div>
    </box-with-header>
  </template>

  <script type="application/dart" src="companyemailaddresses.dart"></script>
</polymer-element>
