<polymer-element name="company-opening-hours">
  <link rel="import" href="boxwithheader.html">
  
  <template>
    <style>
      .company-opening-hours-placing {
        position: absolute;
        left: 35%;
        top: 8%;
        height: 9%;
        width: 21%;
      }
  
      .company-opening-hours-container {
        height: 100%;
        width: 100%;
        overflow: auto;
      }
  
      .company-opening-hours-zebra {
        list-style-type: none;
      }
  
      .company-opening-hours-zebra li {
        padding: 4px;
      }
  
      .company-opening-hours-zebra li:nth-of-type(even) {
        background-color: #eee;
      }
    </style>
    <box-with-header headerfontsize="0.8em" headerpadding="0px 5px 2px 5px" class="company-opening-hours-placing">
      <span name="boxheader">
        {{title}}
      </span>

      <div name="boxcontent" class="minibox company-opening-hours-container">
        <ul class="company-opening-hours-zebra">
          <template repeat="{{value in organization.openingHoursList}}"> 
            <li>{{value}}</li>
          </template>
        </ul>
      </div>
    </box-with-header>
  </template>

  <script type="application/dart" src="companyopeninghours.dart"></script>
</polymer-element>
