<polymer-element name="company-other">
  <link rel="import" href="boxwithheader.html">
 
  <template>
    <style>
      .company-other-placing {
        position: absolute;
        left: 79%;
        top: 41%;
        height: 9%;
        width: 21%;
      }
  
      .company-other-container {
        height: 100%;
        width: 100%;
        overflow: auto;
        padding: 5px;
      }
    </style>
    
    <box-with-header headerfontsize="0.8em" headerpadding="0px 5px 2px 5px" class="company-other-placing">
      <span name="boxheader">
        {{title}}
      </span>

      <div name="boxcontent" class="minibox company-other-container">
        {{organization.other}}
      </div>
    </box-with-header>
  </template>

  <script type="application/dart" src="companyother.dart"></script>
</polymer-element>
