<polymer-element name="context-switcher">
  <template>
    <link rel="import" href="contextswitcherbutton.html">
    <style>        
      .context-switcher-default {
        height: 100%;
        background-color: #fafafa;
        border-top: solid 2px #ddd;
        border-right: solid 2px #ddd;
        border-bottom: solid 2px #ddd;
        border-radius: 0px 5px 5px 0px;
        list-style-type: none;
      }
  
      .context-switcher-item {
        margin: 0px auto;
        width: 70%;
      }
    </style>
    
    <ul class="context-switcher-default"> 
      <template repeat="{{context in contextList}}">
        <li class="context-switcher-item">
          <context-switcher-button context="{{context}}"></context-switcher-button>
        </li>
      </template>
    </ul>
  </template>
  <script type="application/dart" src="contextswitcher.dart"></script>
</polymer-element>
