<!DOCTYPE html>

<html>
  <head>
    <link rel="import" href="boxwithheader.html">
  </head>
  <body>
    <element name="send-message" constructor="SendMessage" extends="span" apply-author-styles>
      <style>
        .send-message-placing {
          position: absolute;
          top: 52%;
          left: 46%;
          height: 48%;
          width: 32%;
        }

        .send-message-container {
          margin: 10px;
          height: -moz-calc(100% - 20px);
          height: -webkit-calc(100% - 20px);
          width: -moz-calc(100% - 20px);
          width: -webkit-calc(100% - 20px);
          overflow: auto;
        }
      </style>

      <template>
        <box-with-header class="send-message-placing">
          <span name="boxheader">
            SendMessage Header
          </span>

          <div name="boxcontent" class="send-message-container">
            SendMessage Content
          </div>
        </box-with-header>
      </template>

      <script type="application/dart" src="sendmessage.dart"></script>
    </element>
  </body>
</html>
