<!DOCTYPE html>

<html>
  <body>
    <element name="x-box-with-header" constructor="BoxWithHeader" extends="span" apply-author-styles>
      <style scoped>
        .outerbox {
          height: 100%;
          background-color: #fafafa;
          border: solid 2px #ddd;
          border-radius: 5px;
          overflow: auto;
        }

        .content {
          position: relative;
          overflow: auto;
        }

        .headline {
          background-color: #dedede;
          color: #777;
          font-weight: bold;
          padding: 5px 10px;
        }
      </style>

      <template>
        <div class="outerbox">
          <h1 class="headline">
            <content select="[name=boxheader]"></content>
          </h1>
          <div class="content">
            <content select="[name=boxcontent]"></content>
          </div>
        </div>
      </template>

      <script type="application/dart" src="xboxwithheader.dart"></script>
    </element>
  </body>
</html>
