<!DOCTYPE html>

<html>
  <body>
    <element name="x-box" constructor="Box" extends="span" apply-author-styles>
      <style scoped>
        .outerbox {
          height: 100%;
          background-color: #fafafa;
          border: solid 2px #ddd;
          border-radius: 5px;
          overflow: auto;
        }

        .content {
          position: relative;
          height: 100%;
          overflow: auto;
        }
      </style>

      <template>
        <div class="outerbox">
          <div class="content">
            <content select="[name=boxcontent]"></content>
          </div>
        </div>
      </template>

      <script type="application/dart" src="xbox.dart"></script>
    </element>
  </body>
</html>
