<!DOCTYPE html>

<html>
  <body>
    <element name="x-call-queue-item" constructor="CallQueueItem" extends="li" apply-author-styles>
      <style>
        .default {
          padding: 5px;
        }

        .seconds {
          float: right;
        }
      </style>

      <template>
        <div on-click="pickupcallHandler()" class="default">
          <span>Call ID : {{call.id}}</span>
          <span class="seconds">{{age}}</span>
        </div>
      </template>

      <script type="application/dart" src="xcallqueueitem.dart"></script>
    </element>
  </body>
</html>
