<!DOCTYPE html>

<html>
  <head>
    <link rel="components" href="xboxwithheader.html">
    <link rel="components" href="xcompanyselector.html">
  </head>
<body>
  <element name="x-company-info" constructor="CompanyInfo" extends="span" apply-author-styles>
    <template>
      <x-box-with-header>
        <span class="header">
          CompanyInfo Header
        </span>
        <span class="body">
          <select is="x-company-selector"></select>
        </span>
      </x-box-with-header>
    </template>

    <script type="application/dart" src="xcompanyinfo.dart"></script>
  </element>
</body>
</html>
