<!DOCTYPE html>

<html>
  <head>
    <link rel="import" href="xboxwithheader.html">
  </head>
  <body>
    <element name="x-company-info" constructor="CompanyInfo" extends="span" apply-author-styles>
      <style scoped>
        .container {
          height: 100%;
          width: 100%;
          overflow: auto;
        }
      </style>

      <template>
        <x-box-with-header chrome="{{false}}">
          <span name="boxheader">
            CompanyInfo Header
          </span>

          <div name="boxcontent" class="container">
            <!--<div id="tempdump" style="margin-top: 10px;">
              <template instantiate="if environment.organization.current != model.nullOrganization">
                {{environment.organization.current.name}}-{{environment.organization.current.id}}
              </template>
            </div>-->
          </div>
        </x-box-with-header>
      </template>

      <script type="application/dart" src="xcompanyinfo.dart"></script>
    </element>
  </body>
</html>
