<!DOCTYPE html>

<html>
 <body>
  <element name="x-company-selector" constructor="CompanySelector" extends="select" apply-author-styles>
    <template>
      <option disabled="disabled" selected="selected">{{defaultOptionText}}</option>
      <template iterate="org in organizationList" on-change="_selection($event)">
        <option value="{{org.id.toString()}}">{{org.name}}</option>
      </template>
    </template>

    <script type="application/dart" src="xcompanyselector.dart"></script>
  </element>
</body>
</html>
