<!DOCTYPE html>

<html>
  <head>
    <link rel="import" href="xboxwithheader.html">
  </head>
  <body>
    <element name="x-company-other" constructor="CompanyOther" extends="span" apply-author-styles>
      <style scoped>
        .placing {
          position: absolute;
          left: 79%;
          top: 41%;
          height: 9%;
          width: 21%;
        }

        .container {
          padding: 5px;
        }
      </style>

      <template>
        <x-box-with-header headerfontsize="0.8em" headerpadding="0px 5px 2px 5px" class="placing">
          <span name="boxheader">
            {{title}}
          </span>

          <div name="boxcontent" class="minibox container">
            {{environment.organization.current.other}}
          </div>
        </x-box-with-header>
      </template>

      <script type="application/dart" src="xcompanyother.dart"></script>
    </element>
  </body>
</html>
