<!DOCTYPE html>

<html>
 <body>
  <element name="x-company-selector" constructor="CompanySelector" extends="span" apply-author-styles>
    <template>
      <select on-change="_selection($event)">
        <option disabled selected="{{environment.organization.current == model.nullOrganization}}">
          {{defaultOptionText}}
        </option>
        <option template repeat="org in organizationList" value="{{org.id.toString()}}" selected="{{currentOrgId == org.id.toString()}}">
          {{org.name}}
        </option>
      </select>

      <!-- TEST CODE START -->
      <button on-click="reset()">reset</button>
      <button on-click="responsum()">Responsum</button>
      <!-- TEST CODE END -->
    </template>

    <script type="application/dart" src="xcompanyselector.dart"></script>
  </element>
</body>
</html>
