<!DOCTYPE html>

<html>
  <head>
    <link rel="import" href="xboxwithheader.html">
  </head>
  <body>
    <element name="x-company-product" constructor="CompanyProduct" extends="span" apply-author-styles>
      <style scoped>
        .placing {
          position: absolute;
          left: 35%;
          top: 30%;
          height: 9%;
          width: 21%;
        }
      </style>

      <template>
        <x-box-with-header chrome="{{true}}" headerfontsize="0.8em" headerpadding="0px 5px 2px 5px" class="placing">
          <span name="boxheader">
            Produktbeskrivelse
          </span>

          <div name="boxcontent" class="minibox">
            Vi er en ekstern receptionsservice.
          </div>
        </x-box-with-header>
      </template>

      <script type="application/dart" src="xcompanyproduct.dart"></script>
    </element>
  </body>
</html>
