<!DOCTYPE html>

<html>
  <head>
    <link rel="import" href="xboxwithheader.html">
  </head>
  <body>
    <element name="x-company-registration-number" constructor="CompanyRegistrationNumber" extends="span" apply-author-styles>
      <style scoped>
        .placing {
          position: absolute;
          left: 79%;
          top: 30%;
          height: 9%;
          width: 21%;
        }

        .container {
          height: 100%;
          width: 100%;
          overflow: auto;
        }

        .zebra {
          list-style-type: none;
        }

        .zebra li {
          padding: 4px;
        }

        .zebra li:nth-of-type(even) {
          background-color: #eee;
        }
      </style>

      <template>
        <x-box-with-header headerfontsize="0.8em" headerpadding="0px 5px 2px 5px" class="placing">
          <span name="boxheader">
            {{title}}
          </span>

          <div name="boxcontent" class="minibox container">
            <ul template iterate="value in environment.organization.current.registrationNumberList" class="zebra">
              <li>{{value}}</li>
            </ul>
          </div>
        </x-box-with-header>
      </template>

      <script type="application/dart" src="xcompanyregistrationnumber.dart"></script>
    </element>
  </body>
</html>
