<!DOCTYPE html>

<html>
<body>
  <element name="x-context-switcher-button" constructor="ContextSwitcherButton" extends="span" apply-author-styles>
    <style scoped>
      .default {
        position: relative;
        width: 100%;
        background-color: inherit;
        border: none;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .alert,
      .buttonface {
        position: absolute;
        top: 0;
        left: 0;
      }
    </style>

    <template>
      <button disabled="{{disabled}}" class="default" on-click="activate()">
        <img name="buttonpassiveimage" class="buttonface" src="../images/{{context.id}}.svg">
        <img name="buttonactiveimage" class="buttonface {{classHidden}}" src="../images/{{context.id}}_active.svg">
        <img name="buttonalertimage" class="alert {{alertMode}}" src="../images/contextalert.svg">
      </button>
    </template>

    <script type="application/dart" src="xcontextswitcherbutton.dart"></script>
  </element>
</body>
</html>
