<!DOCTYPE html>

<html>
  <head>
    <link rel="import" href="xboxwithheader.html">
  </head>
  <body>
    <element name="x-contact-info" constructor="ContactInfo" extends="span" apply-author-styles>
      <style scoped>
        .placing {
          position: absolute;
          top: 52%;
          left: 0%;
          height: 48%;
          width: 45%;
        }

        .container {
          margin: 10px;
          height: -moz-calc(100% - 20px);
          height: -webkit-calc(100% - 20px);
          width: -moz-calc(100% - 20px);
          width: -webkit-calc(100% - 20px);
          overflow: auto;
          /*border: solid 1px red;*/
        }
      </style>

      <template>
        <x-box-with-header class="placing">
          <span name="boxheader" class="header">
            ContactInfo Header
          </span>

          <div name="boxcontent" class="container">
            <template iterate="contact in environment.organization.current.contactList">
              {{contact}}
            </template>
          </div>
        </x-box-with-header>
      </template>

      <script type="application/dart" src="xcontactinfo.dart"></script>
    </element>
  </body>
</html>
