<!DOCTYPE html>

<html>
<body>
  <element name="x-context-switcher-button" constructor="ContextSwitcherButton" extends="span" apply-author-styles>
    <style scoped>
      .default {
        position: relative;
        background-color: inherit;
        width: 100%;
        border: none;
      }

      .alert {
        padding: 0px;
        margin: 0px;
        position: absolute;
        top: 0%;
        left: 0%;
        height: 20px;
        width: 20px;
        border-radius: 10px;
        background-color: red;
        font-weight: bold;
        font-size: 1.25em;
        color: white;
      }
    </style>

    <template>
      <button disabled="{{disabled}}" class="default" on-click="activate()">
        <img style="height: 100%" src="{{icon}}">
        <div class="alert hidden">!</div>
      </button>
    </template>

    <script type="application/dart" src="xcontextswitcherbutton.dart"></script>
  </element>
</body>
</html>
