<!DOCTYPE html>

<html>
  <head>
    <link rel="import" href="xboxwithheader.html">
    <link rel="import" href="xcallqueueitem.html">
  </head>
  <body>
    <element name="x-global-queue" constructor="GlobalQueue" extends="span" apply-author-styles>
      <style scoped>
        .placing {
          position: absolute;
          top: 52%;
          left: 79%;
          height: 30%;
          width: 21%;
        }

        .container {
          height: 100%;
          width: 100%;
          overflow: auto;
          font-size: 0.9em;
        }

        .zebra {
          list-style-type: none;
          width: 100%;
        }

        .zebra li:nth-of-type(even) {
          background-color: #eee;
        }
      </style>

      <template>
        <x-box-with-header class="placing">
          <span name="boxheader" class="header">
            {{title}}
            <span style="float: right">
              <button on-click="pickupnextcallHandler()" disabled="{{pickupButtonDisabled}}">Pickup</button>
              <button on-click="hangupcallHandler()" disabled="{{hangupButtonDisabled}}">Hangup</button>
              <button on-click="holdcallHandler()" disabled="{{holdButtonDisabled}}">Hold</button>
            </span>
          </span>

          <div name="boxcontent" class="container">
            <ul template iterate="call in calls" class="zebra">
              <x-call-queue-item call="{{call}}"></x-call-queue-item>
            </ul>
          </div>
        </x-box-with-header>
      </template>

      <script type="application/dart" src="xglobalqueue.dart"></script>
    </element>
  </body>
</html>
