<!DOCTYPE html>

<html>
  <head>
    <link rel="components" href="xboxwithheader.html">
  </head>
<body>
  <element name="x-global-queue" constructor="GlobalQueue" extends="span" apply-author-styles>
    <template>
      <x-box-with-header>
        <span class="header">
          GlobalQueue Header
        </span>
        <span class="body">
          GlobalQueue Content
          <button on-click="pickupnextcallHandler()" disabled="{{pickupButtonDisabled}}">Pickup Next Call</button>
          <button on-click="hangupcallHandler()" disabled="{{hangupButtonDisabled}}">Hangup</button>
          <button on-click="holdcallHandler()" disabled="{{holdButtonDisabled}}">Hold</button>
          <ul>
            <template iterate="call in calls">
              <li on-click="pickupcallHandler($event)" value="{{call.id}}"> Callid: {{call.id}} </li>
            </template>
          </ul>
        </span>
      </x-box-with-header>
    </template>

    <script type="application/dart" src="xglobalqueue.dart"></script>
  </element>
</body>
</html>
