<!DOCTYPE html>

<html>
  <head>
    <link rel="components" href="xboxwithheader.html">
  </head>
  <body>
    <element name="x-global-queue" constructor="GlobalQueue" extends="span" apply-author-styles>
      <style scoped>
        .container {
          margin: 10px;
          height: -moz-calc(100% - 20px);
          height: -webkit-calc(100% - 20px);
          width: -moz-calc(100% - 20px);
          width: -webkit-calc(100% - 20px);
          overflow: auto;
          border: solid 1px red;
        }
      </style>

      <template>
        <x-box-with-header>
          <span name="boxheader" class="header">
            GlobalQueue Header
          </span>

          <div name="boxcontent" class="container">
            GlobalQueue Content
            <button on-click="pickupnextcallHandler()" disabled="{{pickupButtonDisabled}}">Pickup Next Call</button>
            <button on-click="hangupcallHandler()" disabled="{{hangupButtonDisabled}}">Hangup</button>
            <button on-click="holdcallHandler()" disabled="{{holdButtonDisabled}}">Hold</button>
            <ul template iterate="call in calls">
              <li on-click="pickupcallHandler($event)" value="{{call.id}}"> Callid: {{call.id}} </li>
            </ul>
          </div>
        </x-box-with-header>
      </template>

      <script type="application/dart" src="xglobalqueue.dart"></script>
    </element>
  </body>
</html>
