<!DOCTYPE html>

<html>
  <head>
    <link rel="components" href="xbox.html">
  </head>
<body>
  <element name="x-welcome-message" constructor="WelcomeMessage" extends="span" apply-author-styles>
    <style scoped>
      .greeting {
        font-size: 1.5em;
      }
    </style>

    <template>
      <x-box>
        <span class="body">
          <template instantiate="if organization.id != null">
            <span class="greeting">{{organization.greeting}}</span>
          </template>
        </span>
      </x-box>
    </template>

    <script type="application/dart" src="xwelcomemessage.dart"></script>
  </element>
</body>
</html>
