<!DOCTYPE html>

<html>
  <head>
    <link rel="components" href="xbox.html">
  </head>
<body>
  <element name="x-welcome-message" constructor="WelcomeMessage" extends="span" apply-author-styles>
    <template>
      <x-box>
        <span class="body">
          <template instantiate="if organization.id != null">
            {{organization.greeting}}
          </template>
        </span>
      </x-box>
    </template>

    <script type="application/dart" src="xwelcomemessage.dart"></script>
  </element>
</body>
</html>
