# Local config.
lib/config.dart

# Dart-specific files.
.pub/
build/
packages
pubspec.lock


# Support tools.
bin/basic_agent
support_tools/deps_install
support_tools/pjlibs
support_tools/pjproject-2.1
support_tools/pjproject-2.1.0/
support_tools/pjproject-2.1.tar.bz2

