/*                  This file is part of OpenReception
                   Copyright (C) 2014-, BitStackers K/S

  This is free software;  you can redistribute it and/or modify it
  under terms of the  GNU General Public License  as published by the
  Free Software  Foundation;  either version 3,  or (at your  option) any
  later version. This software is distributed in the hope that it will be
  useful, but WITHOUT ANY WARRANTY;  without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  You should have received a copy of the GNU General Public License along with
  this program; see the file COPYING3. If not, see http://www.gnu.org/licenses.
*/

library openreception.server.configuration;

import 'dart:io' as IO;
import 'package:logging/logging.dart';

/**
 * Log configuration values.
 */
class Log {
  final Level level = Level.ALL;
  final onRecord = logEntryDispatch;

  const Log();
}

/**
 * Simple access logging.
 */
class AccessLog {

  final String name;

  const AccessLog(this.name);

  void onAccess(String msg, bool isError) {
    if (isError) {
      logEntryDispatch(new LogRecord(Level.SEVERE, msg, name));
    } else {
      logEntryDispatch(new LogRecord(Level.FINEST, msg, name));
    }
  }
}

/**
 * ESL configuration values.
 */
class EslConfig {
  final String hostname;
  final String password;
  final int port;

  /**
   *
   */
  const EslConfig(
      {String this.hostname: 'localhost',
      String this.password: 'ClueCon',
      int this.port : 8021});

  /**
   *
   */
  String toDsn() => password + '@' + hostname + ':' + port.toString();
}


/**
 * SMTP configuration values
 */
class SmtpConfig {
  final String hostname = 'some.smtp.host';
  final bool ignoreBadCertificate = true;
  final String name = 'my.host';
  final String password = 'secret';
  final int port = 465;
  final bool secure = true;
  final String username = 'some user';

  const SmtpConfig();
}

/**
 * Standard configuration values, common among all configurations.
 */
abstract class StandardConfig {
  String get externalHostName => 'localhost';

  Log get log => config.logDefaults;

  String get serverToken => 'veeerysecret';

  int get httpPort;

  Uri get externalUri => Uri.parse('http://${externalHostName}:$httpPort');

  const StandardConfig();
}

/**
 * Database configuration values.
 */

class DatabaseConfig {
  final String dsn =
      'postgres://openreception:goodpass@localhost:5432/openreception';

  const DatabaseConfig();
}

/**
 * Calendar server configuration values.
 */
class CalendarServer extends StandardConfig {
  @override
  final int httpPort = 4110;

  const CalendarServer();
}

/**
 * Call-flow-control server configuration values.
 */
class CallFlowControl extends StandardConfig {
  /// Enable or disable recordings globally.
  final bool enableRecordings = false;

  /**
   * The directory where FreeSWITCH will store its recordings.
   * The verbatim string ${RECORDINGS_DIR} is a FreeSWITCH variable that
   * unfolds into its default configured recordings directory.
   * Any other full path may be specified here.
   */
  final String recordingsDir = '\${RECORDINGS_DIR}';

  /// Outbound caller-ID number
  final String callerIdNumber = '00000000';

  /// Outbound caller-ID name
  final String callerIdName = '??';

  /// Timeout (in seconds) of an origination.
  final int originateTimeout = 120;

  /// Timeout (in seconds) of vaiting for an agent channel to establish.
  final int agentChantimeOut = 20;

  final EslConfig eslConfig = const EslConfig();

  int get httpPort => 4242;

  /// The user contexts to load peers from. All other contexts will be ignored.
  final Iterable<String> peerContexts = const [
    'default',
    'receptions',
    'test-receptions'
  ];

  const CallFlowControl();
}

/**
 * Configuration server configuration values.
 */
class ConfigServer extends StandardConfig {
  int get httpPort => 4080;

  const ConfigServer();

  Uri get authServerUri => config.authServer.externalUri;
  Uri get calendarServerUri => config.calendarServer.externalUri;
  Uri get callFlowControlUri => config.callFlowControl.externalUri;
  Uri get cdrServerUri => config.cdrServer.externalUri;
  Uri get contactServerUri => config.contactServer.externalUri;
  Uri get dialplanServerUri => config.dialplanserver.externalUri;
  Uri get messageServerUri => config.messageServer.externalUri;
  Uri get notificationServerUri => config.notificationServer.externalUri;
  Uri get notificationSocketUri => config.notificationServer.notificationUri;
  Uri get receptionServerUri => config.receptionServer.externalUri;
  Uri get userServerUri => config.userServer.externalUri;
}

/**
 * Authentication server configuration values.
 */
class AuthServer extends StandardConfig {
  final Duration tokenLifetime = const Duration(hours: 12);
  final String clientId = 'google-client-id';
  final String clientSecret = 'google-client-secret';
  final String serverTokendir = '';
  Uri get clientUri => Uri.parse('http://localhost:8080');

  Uri get redirectUri => Uri.parse('${externalUri}/token/oauth2callback');

  @override
  final int httpPort = 4050;

  const AuthServer();
}

/**
 * Contact server configuration values.
 */
class ContactServer extends StandardConfig {
  @override
  final int httpPort = 4010;

  const ContactServer();
}

/**
 * CDR server configuration values.
 */
class CDRServer extends StandardConfig {
  @override
  final int httpPort = 4090;
  final String pathToCdrCtl = '/path/cdrctl.dart';

  const CDRServer();
}

/**
 * Dialplan server configuration values.
 */
class DialplanServer extends StandardConfig {
  @override
  final int httpPort = 4060;
  final String freeswitchConfPath = '/usr/local/freeswitch/conf';

  /// Dialplan compiler parameters
  final bool goLive = false;
  final String playbackPrefix = 'greetings-dir';
  final String testNumber = 'xxxxxxxx';
  final String testEmail = 'someguy@example.com';

  const DialplanServer();
}

/**
 * Message dispatcher configuration values.
 */
class MessageDispatcher extends StandardConfig {
  final int maxTries = 10;
  final mailerPeriod = const Duration(seconds: 1);
  final String smsKey = 'some-key@some-host.tld';
  final String staticSenderAddress = ''; // Overrides user.address if not empty.
  final String staticSenderName = ''; // Overrides user.name if not empty.

  @override
  final int httpPort = 4070;

  final SmtpConfig smtp = const SmtpConfig();

  const MessageDispatcher();
}

/**
 * User server configurations values.
 */
class UserServer extends StandardConfig {
  @override
  final int httpPort = 4030;

  const UserServer();
}

/**
 * Message server configuration values
 */
class MessageServer extends StandardConfig {
  @override
  final int httpPort = 4040;

  const MessageServer();
}

/**
 * Nofication server configuration values
 */
class NotificationServer extends StandardConfig {
  @override
  final int httpPort = 4200;

  Uri get notificationUri =>
      Uri.parse('ws://${externalHostName}:$httpPort/notifications');

  const NotificationServer();
}

/**
 * Reception server configuration values
 */
class ReceptionServer extends StandardConfig {
  @override
  final int httpPort = 4000;

  const ReceptionServer();
}

/**
 * Logs [record] to STDOUT | STDERR depending on [record] level.
 */
void logEntryDispatch(LogRecord record) {
  final String error =
      '${record.error != null
      ? ' - ${record.error}'
      : ''}'
      '${record.stackTrace != null
        ? ' - ${record.stackTrace}'
        : ''}';

  if (record.level.value > Level.INFO.value) {
    IO.stderr.writeln('${record.time} - ${record}$error');
  } else {
    IO.stdout.writeln('${record.time} - ${record}$error');
  }
}

Configuration config = const Configuration();

/**
 * One configuration class to rule them all...
 */
class Configuration {
  final logDefaults = const Log();
  final DatabaseConfig database = const DatabaseConfig();

  /// May be 'en' or 'da'
  final String systemLanguage = 'en';
  final AccessLog accessLog = const AccessLog('ACCESS');
  final AuthServer authServer = const AuthServer();
  final CalendarServer calendarServer = const CalendarServer();
  final CallFlowControl callFlowControl = const CallFlowControl();
  final ConfigServer configserver = const ConfigServer();
  final ContactServer contactServer = const ContactServer();
  final MessageDispatcher messageDispatcher = const MessageDispatcher();
  final CDRServer cdrServer = const CDRServer();
  final MessageServer messageServer = const MessageServer();
  final NotificationServer notificationServer = const NotificationServer();
  final ReceptionServer receptionServer = const ReceptionServer();
  final UserServer userServer = const UserServer();
  final DialplanServer dialplanserver = const DialplanServer();

  /// A list of telephone numbers that identify this system.
  final List<String> myIdentifiers = const [];

  /// Whether or not to hide the caller telephone number.
  final bool hideInboundCallerId = true;

  const Configuration();
}
