# Don’t commit the following directories created by pub.
build/
.pub/
packages/
packages
.packages
.pub/

# Or the files created by dart2js.
*.dart.js
*.dart.precompiled.js
*.js_
*.js.deps
*.js.map

# Include when developing application packages.
pubspec.lock

# Don't track generated documentation
doc/

# Don't track local TODO
TODO

